* {margin:0;padding: 0;}
div {border: 1px solid #999;background-color: #fff;}
.container {height: 500px;background-color: #dedede;margin:15px 30px;position: relative;}

.left {box-sizing: border-box;width: 200px;height: 120px;float: left;margin:20px;}
.left img {width: 80px;height: 80px;padding: 20px;float: left;}
.left span {display: block;padding-top: 20px;}

.right {width: 120px;box-sizing: border-box;position: absolute;top: 20px;right: 20px;}
.right img {width: 80px;height: 80px;padding: 10px 20px;}

.main {margin:20px 160px 0px 240px;}
.main p {padding:20px;}